In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-13 06:17:51--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.06s

2021-09-13 06:17:51 (25.5 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [3]:
df = pd.read_csv('data.csv')
len(df)

11914

In [4]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [5]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [6]:
df.head()

  make       model  year  ... city_mpg  popularity   msrp
0  bmw  1_series_m  2011  ...       19        3916  46135
1  bmw    1_series  2011  ...       19        3916  40650
2  bmw    1_series  2011  ...       20        3916  36350
3  bmw    1_series  2011  ...       18        3916  29450
4  bmw    1_series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [13]:
bmw_filter = df["make"] == "bmw"
bmw_df = df[bmw_filter]
bmw_df["msrp"].mean()

61546.76347305389

In [19]:
year_filter = df["year"] >= 2015
year_df = df[year_filter]
year_df["year"].unique()
year_df["engine_hp"].isna().sum()

51

In [28]:
mean_hp_before = df["engine_hp"].mean()
filled_df = df.copy()
filled_df["engine_hp"] = filled_df["engine_hp"].fillna(mean_hp_before)
mean_hp_after = filled_df["engine_hp"].mean()
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

In [39]:
rolls_filter = df["make"] == "rolls-royce"
rolls_df = df[rolls_filter]
rolls_df = rolls_df[["engine_hp", "engine_cylinders", "highway_mpg"]]
rolls_df = rolls_df.drop_duplicates()
X = rolls_df.to_numpy()
XTX = np.dot(X.T, X)
X_inv = np.linalg.inv(XTX)
X_inv.sum()

0.032212320677486125

In [42]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.dot(np.dot(np.linalg.inv(XTX), X.T), y)
w

array([ 0.19989598, 31.02612262, 31.65378877])